.module {
  margin: 10px;
}
.gradient-bg-light {
  background: #c7ddef;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c7ddef), color-stop(100%, #00447c));
  background: -webkit-linear-gradient(top, #c7ddef 0%, #00447c 100%);
  background: linear-gradient(to bottom, #c7ddef 0%, #00447c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7ddef', endColorstr='#00447c', GradientType=0);
}
.gradient-bg-dark {
  background: #0f1930;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0f1930), color-stop(100%, #00447c));
  background: -webkit-linear-gradient(top, #0f1930 0%, #00447c 100%);
  background: linear-gradient(to bottom, #0f1930 0%, #00447c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f1930', endColorstr='#00447c', GradientType=0);
}
.navbar {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-header {
  float: none;
}
.navbar-brand {
  float: none;
  font-size: inherit;
  height: auto;
  line-height: auto;
  padding: 0;
}
.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}
.btn-primary {
  background-color: #00447c;
  border-color: #00447c;
}
.btn-primary:focus,
.btn-primary:hover {
  background-color: #00447c;
}
.btn-secondary {
  background-color: #00447c;
  border-color: #00447c;
}
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: #00447c;
}
a {
  color: #00447c;
}
a:focus,
a:hover {
  text-decoration: none;
  color: #b2a97e;
}
body {
  background: #000000;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
  margin-top: 10px;
  color: #00447c;
}
h3 {
  font-size: 1.3em;
}
h4,
h5,
h6 {
  font-size: 1.2em;
}
.row.wrap {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}
.people .btn-people,
.history .btn-history,
.future .btn-future,
.about .btn-about,
.share .btn-share,
.gear .btn-gear,
.gift .btn-gift {
  background-color: #b2a97e;
}
@media (max-width: 766px) {
  .navbar-brand img {
    max-width: 200px;
  }
}
.content-primary-wrap {
  height: auto;
  background: url(https://msudenver.edu/50/fireworks-bg.png) no-repeat top center fixed;
  position: relative;
  background-size: cover;
  color: #000000;
  font-size: 1.1em;
}
.navigation,
.main {
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-primary {
  padding-bottom: 20px;
}
.nav-primary.navbar-default {
  background: #b2a97e;
}
.nav-primary .logo-btn {
  background-color: #ffffff;
  padding: 20px;
}
.nav-primary .logo-btn:focus,
.nav-primary .logo-btn:hover {
  background-color: #ffffff;
}
.nav-primary .logo-btn img {
  display: block;
  margin: 0 auto;
}
.nav-primary .btn {
  background: #000000;
  padding: 0.5em;
}
.nav-primary a {
  color: #ffffff;
  display: block;
}
.nav-primary ul {
  margin-bottom: 0;
}
.nav-primary li {
  margin-bottom: 1px;
}
.nav > li a {
  background-color: #00447c;
  border-color: #00447c;
  font-size: 1.1em;
  padding: 0.75em 20px;
}
.nav > li a:focus,
.nav > li a:hover {
  background-color: #b2a97e;
}
.page-header {
  margin-top: 20px;
  margin-bottom: 0px;
  border-top: 4px solid #d11242;
  background: #00447c;
  border-bottom: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.175);
}
.page-header .btn-social {
  border: none;
  border-radius: 0;
  position: absolute;
  right: 0;
  color: #ffffff;
  background: #d11242;
  padding: 3px 6px;
  z-index: 1000;
}
.page-header .tagline img {
  display: block;
  margin: 15px auto 5px auto;
}
hr {
  border-top: 1px solid #d11242;
  margin-bottom: 10px;
  margin-top: 10px;
}
.content,
.content-inner {
  padding: 20px;
  background: #ffffff;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 1px 10px 6px rgba(0, 0, 0, 0.175);
}
.content h2,
.content-inner h2 {
  font-size: 2em;
  font-weight: 100;
}
a.btn.btn-lg.custombtn.emerald.col-lg-4.col-md-12.col-sm-12.col-xs-12 {
  background-color: #d11242;
  color: white;
  font-size: 20px;
  padding-bottom: 10px;
}
.content-secondary-wrap {
  color: #999999;
  padding-top: 20px;
  text-align: center;
  background-color: #3a3c41;
  /* temporary styles for the countdown placeholder */
}
.content-secondary-wrap .nav-secondary {
  font-size: 0.75em;
  margin-top: 40px;
  margin-bottom: 20px;
}
.content-secondary-wrap .nav-secondary li:before {
  content: " | ";
}
.content-secondary-wrap .nav-secondary a {
  color: #999999;
}
.content-secondary-wrap .nav-secondary a:focus,
.content-secondary-wrap .nav-secondary a:hover {
  color: #b2a97e;
}
.content-secondary-wrap .nav-secondary p,
.content-secondary-wrap .nav-secondary ul {
  display: inline;
  margin: 0;
  width: auto;
}
.content-secondary-wrap .nav-secondary ul li {
  display: inline;
}
.socialmediafooter {
  margin-top: -50px;
}
.fa-youtube,
.fa-instagram,
.fa-facebook,
.fa-twitter,
.fa-flickr {
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
  color: #00447c;
}
.fa-youtube:focus,
.fa-instagram:focus,
.fa-facebook:focus,
.fa-twitter:focus,
.fa-flickr:focus,
.fa-youtube:hover,
.fa-instagram:hover,
.fa-facebook:hover,
.fa-twitter:hover,
.fa-flickr:hover {
  color: #d11242;
}
.fa-stack {
  margin-left: 10px;
  margin-right: 10px;
}
.countdown {
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 1em;
}
.countdown input {
  color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  text-align: center;
  border: 0px;
  font-weight: 100;
  font-size: 4em;
  width: 90%;
  margin: 0 10px;
  background: #1a2024;
}
.countdown span.title {
  text-align: center;
  font-size: 2.75em;
  font-weight: 200;
  letter-spacing: 3px;
}
.countdown span.time {
  text-align: center;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 3px;
}
@media (min-width: 300px) and (max-width: 1199px) {
  span.title {
    font-size: 2em !important;
  }
  span.time {
    text-align: center;
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 3px;
  }
}
@media (max-width: 1000px) {
  .navigation.wrapper[style],
  .nav-primary.wrapper[style] {
    height: auto !important;
  }
}
@media (max-width: 600px) {
  .content .module.featured-story h2,
  .content .module.upcoming-events h2,
  .content .module.featured-story h3,
  .content .module.upcoming-events h3 {
    font-size: 1.2em;
  }
  .content .featured-story-photo {
    margin-right: 0;
    padding-right: 0;
  }
  .content .featured-story-text {
    margin-left: 0;
    padding-left: 0;
  }
}
.panel {
  color: #000000;
  border-radius: 0px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.31);
}
.panel-header {
  background: #00447c;
}
.panel-default,
.panel-danger,
.panel-gold {
  border: none;
}
.panel-title {
  font-size: 20px;
  font-weight: 100;
}
.panel-default > .panel-heading {
  color: #ffffff;
  background-color: #00447c;
  border-color: #00447c;
  border-radius: 0px;
  border-bottom-color: #d11242;
}
.panel-default > .panel-body > p > a {
  font-size: 20px;
  color: #00447c;
  font-weight: 100;
}
.panel-danger > .panel-heading {
  color: #ffffff;
  background-color: #d11242;
  border-color: #d11242;
  border-radius: 0px;
  border-bottom-color: #00447c;
}
.panel-danger > .panel-heading .panel-title {
  font-size: 25px;
}
.panel-danger > .panel-body {
  font-size: 20px;
  color: #00447c;
  min-height: 290px;
}
.panel-gold {
  border-radius: 0px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.26);
}
.panel-gold .panel-heading {
  color: #ffffff;
  background-color: #b2a97e;
  border-color: #b2a97e;
  border-radius: 0px;
}
.panel-gold .panel-body {
  color: #ffffff;
  background-color: #b2a97e;
}
.panel-body a {
  color: #ffffff;
}
.panel-photo {
  height: 230px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: inherit;
  background-color: black;
}
.panel-photo .panel-heading .panel-title {
  color: white;
  font-size: 30px;
  text-align: center;
  text-shadow: 0px 1.5px #222222;
  padding-top: 15px;
}
.panel-photo .panel-body > p {
  color: white;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 1.5px #222222;
}
.panel-photo .panel-body > p a {
  color: white;
}
@media (min-width: 769px) and (max-width: 992px) {
  .panel-photo .panel-heading .panel-title {
    font-size: 22px;
    text-shadow: 0 1.5px #222;
    padding-top: 10px;
  }
  .panel-photo .panel-body > p {
    color: white;
    font-size: 18px;
    text-shadow: 0px 1.5px #222222;
  }
  .panel-photo .panel-body > p a {
    color: white;
  }
}
@media (max-width: 768px) {
  .panel-photo .panel-heading .panel-title {
    font-size: 22px;
    text-shadow: 0 1.5px #222;
    padding-top: 10px;
  }
  .panel-photo .panel-body > p {
    color: white;
    font-size: 1em;
    text-shadow: 0px 1.5px #222222;
    margin-top: -15px;
  }
  .panel-photo .panel-body > p a {
    color: white;
  }
}
.panel-know .panel-heading .panel-title {
  margin-top: 5px;
  color: #00447c;
  font-size: 25px;
}
.panel-know .panel-heading hr {
  margin-bottom: -15px;
}
.panel-know .panel-body > p {
  font-size: 18px;
}
.featured-story-photo {
  padding-right: 10px;
  float: left;
  max-width: 300px;
}
.featured-story-text {
  color: #000000;
}
.featured-story-text h2 {
  color: #00447c;
}
.upcoming-events h2 {
  color: #00447c;
}
.ourpeople h2 {
  font-size: 2.6em;
  color: #00447c;
}
.ourpeople h3 {
  color: #5f5e5e;
}
.ourpeople h4 {
  padding-top: 30px;
}
.ourpeople p {
  font-size: 16px;
}
.ourpeople img {
  padding-bottom: 15px;
}
.ourpeople blockquote {
  margin: 0 0 20px;
  font-size: 1.5em;
  border-left: 5px solid #5f5e5e;
  color: #5f5e5e;
}
h3.headline,
h3.subhead {
  color: #ffffff;
  background: #b2a97e;
  padding: 1em;
  font-size: 1.5em;
}
.ourpeopleshort {
  min-height: 255px;
  background: #fff;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 1px 10px 6px rgba(0, 0, 0, 0.175);
}
.ourpeopleshort .img-responsive {
  max-height: 215px;
  float: left;
  padding-right: 10px;
}
a.return-to-top {
  position: fixed;
  bottom: 10%;
  right: 10%;
}
.fa-chevron-up {
  background-color: #d11242;
  border-radius: 50px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 40px;
}
