.content-primary-wrap {
  background-position: center center;
  background-image: url("../../img/bg/fireworks.jpg");
  background-attachment: scroll;
  background-size: cover;
  color: @white;
}

.main {
  padding-top: @space-lg;
}