// C L A S S E S

.row.wrap {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

.module-transparent {
  background-color: transparent;
  border: none;
}

// C O N T E N T - P R I M A R Y

.content-primary-wrap {
  background-position: center center;
  background-image: url("../../img/bg/fireworks.jpg");
  background-attachment: scroll;
  background-size: cover;
  color: @white;
  
  .nav-primary {
    background-color: @msu-gold;
    text-align: right;
    
    .logo-btn {
      background-color: @white;
      padding-top: @space-md;
      padding-bottom: @space-md;
      
      img {
        display: block;
        margin: 0 auto;
      }
      
    }
    
    .btn-primary {
      
      a {
        font-size: 1.5em;
        padding: 1em @space-md;
      }
      
    }
    
    .btn-secondary {
      
      a {
        font-size: 1.15em;
        padding: 0.5em @space-md;
      }
      
    }
    
    .btn-primary,
    .btn-secondary {
      
      a {
        
        &:focus,
        &:hover {
          background-color: @msu-gold;
        }
        
      }
      
    }
    
    a {
      color: @white;
      display: block; 
    }

    .btn {
      background: @black;
      padding: 0.5em;
    }
    
    li {
      margin-bottom: 1px;
    }
    
  }
  
  .btn-social {
    border: none;
    border-radius: 0;
    position: absolute;
    right: 0;
    color: @white;
    background: @msu-red;
    padding: 3px 6px;
    z-index: 1000;
  }
  
  section {
    height: 100%;
    position: relative;
    margin-top: @space-sm;
  
    &.content {
      background-color: @black-transparent;
      border-top: 4px solid @msu-red;
      margin-top: @space-lg;
      
      h1 {
        margin: @space-lg 0 @space-sm 0;
        text-align: center;
      }
      
    }
    
    .module {
      
      .btn-primary {
        background-color: @black;
        border: 1px solid @gray;
        margin-top: @space-md;
        
        &:focus,
        &:hover {
          background-color: @gray;
          color: @white;
          cursor: pointer;
        }
        
      }
      
      a {
        color: @white;
        
        &:focus,
        &:hover {
          color: @msu-gold;
        }
        
      }
      
      h2 {
        margin-bottom: 0.5em;
      }
      
      h3 {
        margin-bottom: 0.5em;
      }
      
    }
    
  }

  .callouts {

    li {
      border-right:1px solid @gray;

      div {
        border:1px solid @gray;
        padding: @space-xs;
      }

      &:last-child {
        border-right:none;
      }
      
    }

  }
  
}

// C O N T E N T - S E C O N D A R Y

.content-secondary-wrap {
  color: @white;
  padding-top: @space-lg;
  text-align: center;
  
  .nav-secondary {
    font-size: 0.75em;
    
    li {
      &:before {
        content: " | ";
      }
    }

    a {
      color: @white;
      
      &:focus,
      &:hover {
        color: @msu-gold;
      }
      
    }
    
    p,
    ul {
      display: inline;
      margin: 0;
      width: auto;
    }
    
    ul {
      
      li {
        display: inline;
      }
      
    }
    
  }
  
}