.rounded-borders (@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.module {
  background-color: @black;
  border: 1px solid @gray-dark;
  margin: @space-sm;
}

.gradient-bg-light {
  background: #c7ddef;
  background: -moz-linear-gradient(top,  #c7ddef 0%, #00447c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7ddef), color-stop(100%,#00447c));
  background: -webkit-linear-gradient(top,  #c7ddef 0%,#00447c 100%);
  background: -o-linear-gradient(top,  #c7ddef 0%,#00447c 100%);
  background: -ms-linear-gradient(top,  #c7ddef 0%,#00447c 100%);
  background: linear-gradient(to bottom,  #c7ddef 0%,#00447c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7ddef', endColorstr='#00447c',GradientType=0 );
}

.gradient-bg-dark {
  background: #0f1930;
  background: -moz-linear-gradient(top,  #0f1930 0%, #00447c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f1930), color-stop(100%,#00447c));
  background: -webkit-linear-gradient(top,  #0f1930 0%,#00447c 100%);
  background: -o-linear-gradient(top,  #0f1930 0%,#00447c 100%);
  background: -ms-linear-gradient(top,  #0f1930 0%,#00447c 100%);
  background: linear-gradient(to bottom,  #0f1930 0%,#00447c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f1930', endColorstr='#00447c',GradientType=0 );
}